.input-component {
    font-family: var(--primary-font);
    outline: none;
    box-shadow: none;
}

.input-component {
    border: 2px;
    color: var(--secondary-color);
    font-size: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

.productSearch {
    composes: input-component;
    padding-right: 0;
}

.secondaryInput {
    composes: input-component;
    border-radius: 1px;
    border: 1px solid #bdbdbd;
    padding: 1rem 1.2rem;
}
