.input-component {
    font-family: var(--primary-font);
    outline: none;
    box-shadow: none;
}

.input-component {
    border: 2px;
    color: var(--secondary-color);
    font-size: 1rem;
    border-radius: 10px;
    padding: 1rem;
}
