.bgImage {
    background-image: url(../../assets/images/SalesBackground-img.jpg);
}
.seactionSalesBanner {
    width: 100%;
    height: 500px;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    gap: 10rem;
    padding: 0 1rem;
}

.cardText {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    justify-content: center;
    text-transform: capitalize;
}

.cardText h4 {
    font-size: 3rem;
    margin: 1rem 0;
    font-weight: 500;
}

.cardText p {
    font-size: 1rem;
    color: #ccc;
}

.cardRegister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    width: 400px;
}
