Button {
    font-family: var(--primary-font);
    cursor: pointer;
    outline: none;
    box-shadow: none;
}

.primaryButton {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: 500;
    padding: 1rem 3rem;
}

.secondaryButton {
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 100px;
    font-weight: 500;
    padding: 1rem 3rem;
}
