Button {
    font-family: var(--primary-font);
    cursor: pointer;
    outline: none;
    box-shadow: none;
}

.primaryBtn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1rem 3rem;
}

.primaryBtn[data-hover="true"]:hover {
    transition: 0.2s ease-in;
    background-color: var(--secondary-color-light);
}

.primaryBtn[data-hover="true white"]:hover {
    transition: 0.4s ease-in;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.secondaryBtn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1rem 1.5rem;
}

.secondaryBtn[data-hover="true"]:hover {
    transition: 0.5s ease-in;
    border: 2px;
    background-color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

.tertiaryBtn {
    background-color: #e4e4e4;
    border: none;
    border-radius: 5px;
    color: var(--secondary-color);
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
}

.selectionBtn {
    composes: tertiaryBtn;
}
.selectionBtn[data-active="true"] {
    background-color: #bdbdbd;
}

.selectionBtn[data-hover="true"]:hover {
    background-color: #bdbdbd;
}

.roundedSm {
    border-radius: 5px;
}

.roundedMd {
    border-radius: 10px;
}

.roundedFull {
    border-radius: 100px;
}

.solidWhiteSm {
    border: 2px solid var(--primary-color);
}

.thinGreySm {
    border: 1px solid #41403e33;
}
