Button {
    font-family: var(--primary-font);
    cursor: pointer;
    outline: none;
    box-shadow: none;
}

.primaryBtn {
    background-color: var(--secondary-color);
    border: 2px;
    color: var(--primary-color);
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: 500;
    padding: 1rem 3rem;
}

.primaryBtnHover {
    composes: primaryBtn;
}

.primaryBtnHover:hover {
    transition: 0.2s ease-in;
    border: 2px;
    background-color: var(--secondary-color-light);
}

.secondaryButton {
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 100px;
    font-weight: 500;
    padding: 1rem 3rem;
}

.secondaryButton-hover {
    composes: secondaryButton;
}

.secondaryButton-hover:hover {
    transition: 0.5s ease-in;
    border: 2px;
    background-color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

.tertiaryButton {
    background-color: #e4e4e4;
    border: none;
    border-radius: 5px;
    color: var(--secondary-color);
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
}

.selectionButton {
    composes: tertiaryButton;
}
.selectionButton-active {
    composes: selectionButton;
    background-color: #bdbdbd;
}

.selectionButton:hover {
    background-color: #bdbdbd;
}
