section.heroBanner {
    padding: 19rem 0 19rem 0;
    display: flex;
}

.heroCard {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 3rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.heroCard h1 {
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 0;
}

.heroCard p {
    margin-bottom: 3rem;
}
