nav {
    padding: 2rem 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbarContentContainer {
    composes: container from global;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
}

ul li {
    float: left;
}

li {
    display: block;
}

.navText {
    gap: 4rem;
}

.navIcon {
    gap: 2rem;
}

.mainLogo {
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.scroll {
    background: #f1f1f1;
    transition: background-color 0.2s ease-in-out;
}
