.productFilter_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filterCategories,
.filterTags,
.filterBrands,
.filterByPrice {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.productFilter_container h3 {
    font-size: 1.5rem;
    margin: 0;
}

.productFilter_container span {
    font-size: 1.2rem;
}

.productSearch_Container {
    display: flex;
    align-items: center;
    border: 1px solid var(--tertiary-color);
    border-radius: 5px;
    background-color: #fff;
    padding-right: 1rem;
}
