.productCard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.backgroundLayer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    background-color: #e5e4e5;
}

.backgroundLayer:hover {
    background-color: #c5c5c5;
    transition: 0.8s;
    cursor: pointer;
}
