.errorPageMessage {
    padding: 20rem 0;
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.errorPageMessage h1 {
    font-size: 10rem;
    margin: 0;
    line-height: 1;
    /* letter-spacing: 1rem; */
}

.errorPageMessage p {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2rem;
}
