@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    box-sizing: border-box;
    --primary-font: "Jost", sans-serif;
    --primary-color: #f8f8f8;
    --secondary-color: #010000;
    --secondary-color-light: #1d1d1d;
    --tertiary-color: #747474;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--primary-color);
}

h1,
h2,
h3 {
    font-weight: 700;
}

a {
    font-family: var(--primary-font);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
}
